html{font-family: Avenir,Helvetica,Arial,sans-serif!important;}
ul{margin: 0;padding: 0;}
.bg-dark{background-color: #448AFF!important;}
.carousel-item img{width: 100%;}
.help-process{text-align: center;}
.row{margin: 0;padding: 0;}
.step{margin-top: 50px;}
.desc{background: rgb(246,247,252);}
.desc h5{margin-top: 50px}
.desc p{text-align: left;text-indent: 2rem;}
.QQlink{
	position: fixed;
	right: 0;
	top: 20%;
	width: 160px;
	height: 300px;
	padding: 10px;
	background-color: rgba(214,214,214,.2);
	transform: translate(75%,0);
	transition: all .4s;
}
.QQlink:hover{transform: translate(0,0);transition: all .4s;}
.announce_title{
    font-weight: bold;
    float: left;
    color: #000;
    line-height: 75px;
    width: 35px;
    font-size: 18px;
}
.announce_content{font-size: 15px;text-indent: 1rem;line-height: 30px;}
.q_link{
	display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	width: 35px;
	height: 35px;
	margin: 0 auto;
}
.q_link img{width: 100%;}
.nav-link{padding: 0;}