#notice{
	width: 300px;
	margin: 40px auto;
	background: #eee;
	padding: 20px 0;
	text-align: center;
	position: relative;
}
span{
	font-size: 16px;
}
.addNotice{
	height: 20px;
	margin-top: 30px;
}
#title{
    font-size: 14px;
    position: absolute;
    left: 12px;

}
#content{
	overflow: scroll;
}
